body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    background-color: black;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 40px;
    font-size: larger;
    padding: 10px 10px;
    z-index: 100;
}


header a {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}


.underline-animation {
    position: relative;
    text-decoration: none;
    padding-bottom: 4px;
    margin: 20px;
    transition: color 0.3s ease-in-out;


}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;

}

.underline-animation:hover {
    color: white;
}

.underline-animation:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.country-container {
    margin-top: 170px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 30px;
}


img {
    height: 338px;
    width: 580px;
    border-radius: 20px;
}


.image-link {
    text-decoration: none;
}
.image-link:hover .country-name-container {
    background-color: #064F34;
}

/* как сделать затемнение картинок при hover эффекте?  */



.country-name-container {
    margin-top: -15px;
    width: 580px;
    height: 70px;
    border-radius: 20px;
    background-color: black;
}

.country-name {
    position: relative;
    top: 20px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: x-large;

}

.Introduction {
    position: relative;
    bottom: -20px;
    right: 550px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 400%;
}

.Black-block {
    position: relative;
    bottom: -110px;
    height: 1080px;
    width: 100%; 
    /* как убрать белые границы и при этом не создавать горизонтальный скролл? */
    background-color: #252525;
}


.Quote {
    position: relative;
    top: 250px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 400%;
    color: white;
    text-align: center;
}


.Company-text {
    position: relative;
    top: 250px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 150%;
    color: #D3D3D3;
    text-align: center;
}

.Register-button {
    position: relative;
    height: 75px;
    width: 350px;
    background-color: #064F34;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 150%;

}


.Register-button:hover {
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.Center-button {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}